SCOUT_EMAIL_DATA_DIR=../data
SCOUT_EMAIL_DATABASE_URL=sqlite+aiosqlite:///../data/scout_email.db
SCOUT_EMAIL_BROWSER_WORKER_URL=http://browser-worker:8010
SCOUT_EMAIL_SEND_MODE=mock
SCOUT_EMAIL_MAPS_LIVE_SMOKE_ENABLED=false
SCOUT_EMAIL_MAX_BROWSER_CONCURRENCY=2
SCOUT_EMAIL_HTTP_CRAWL_CONCURRENCY=8
SCOUT_EMAIL_N8N_SEND_WEBHOOK_URL=
SCOUT_EMAIL_N8N_WEBHOOK_SECRET=
SCOUT_EMAIL_GEMINI_API_KEY=
SCOUT_EMAIL_OLLAMA_BASE_URL=http://host.docker.internal:11434
SCOUT_EMAIL_REPLY_CLASSIFIER_PROVIDER=
SCOUT_EMAIL_REPLY_CLASSIFIER_MODEL=
BROWSER_WORKER_MAX_CONCURRENCY=2
BROWSER_WORKER_NAVIGATION_TIMEOUT_MS=30000
