SCOUT_EMAIL_DATA_DIR=../data
SCOUT_EMAIL_DATABASE_URL=sqlite+aiosqlite:///../data/scout_email.db
SCOUT_EMAIL_BROWSER_WORKER_URL=http://browser-worker:8010
SCOUT_EMAIL_SEND_MODE=mock
SCOUT_EMAIL_N8N_SEND_WEBHOOK_URL=
SCOUT_EMAIL_GEMINI_API_KEY=
SCOUT_EMAIL_OLLAMA_BASE_URL=http://host.docker.internal:11434
SCOUT_EMAIL_N8N_WEBHOOK_SECRET=
